commands: 
  delete_wsgi: 
    command: "sudo apt-get remove libapache2-mod-wsgi-py3"
    ignoreErrors: true
  upload_wsgi:
    command: "pip install mod_wsgi"
    ignoreErrors: true

files:
  "/etc/httpd/conf.d/wsgi_custom.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      WSGIApplicationGroup %{GLOBAL}
